.card-functionality {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--bg-card-mapa);
  color: #1b1b1b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-functionality-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0;
}

.card-functionality:hover {
  transition: transform 0.2s, box-shadow 0.2s;
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
