.titulo-horario{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.select-horario {
  margin: 1rem 0;
}

.select-horario select {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
