.mapa-salas-container {
  padding: 0 3rem;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.map-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: var(--bg-color);
}

.row {
  display: flex;
  justify-content: center;
}

.hallway-map {
  display: flex;
  align-items: center;
  background-color: var(--bg-mapa);
  border-radius: 10px;
  width: 100%;
  color: #1B1B1B;
}

.hallway-map img {
  width: 100px;
  height: auto;
  transform: translateX(-2rem) scaleX(-1);
  border-radius: 10px;
  background-color: var(--bg-mapa);
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .map-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    padding: 0.5rem;
  }

  .row,
  .hallway-map {
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0;
  }

  .hallway-map img {
    width: 60%;
    transform: none !important;
  }
}
