.mapa-salas-container {
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  padding: 1rem 2rem;
}

.map-container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  width: 100%;
  background-color: var(--bg-color);
  padding: 1.5rem 2rem;
}

.row {
  display: flex;
}

.hallway-map {
  display: flex;
  align-items: center;
  background-color: var(--bg-mapa);
  border-radius: 0px;
  width: 100%;
  color: #1b1b1b;
}

.hallway-map p {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0.5rem;
}

.hallway-map img {
  width: 100px;
  height: auto;
  transform: translateX(-2rem) scaleX(-1);
  border-radius: 10px;
  background-color: var(--bg-mapa);
  padding: 1rem 0;
}

@media (max-width: 768px) {
  .map-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    padding: 0.5rem;
  }

  .row,
  .hallway-map {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem 0;
  }

  .hallway-map img {
    margin-top: auto;
    width: 100%;
    transform: none !important;
  }

  .top-bar {
  display: flex;
  align-items: center;      /* centraliza verticalmente */
  justify-content: space-between; /* joga o primeiro item à esquerda e o último à direita */
  padding: 10px;
  gap: 10px; /* espaçamento entre os itens */
}

.btn-filtro {
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
}

}
