@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --bg-color: #ffffff;
  --text-color: #000000;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Albert Sans", "Outfit", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-color);
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1f2029;
    --text-color: #ffffff;
    --container-card: #edfaff;
    --bg-mapa: #d8dbe2;
    --bg-card-mapa: #f0f0f0;
    --selected-button-c: #0e7ac9;
    --status-navigate: #0e7ac9;
    --primary-btn: #FB7228;
    --border-color: #d1d5db;
    --generic-card-bg: #2d2e30;
    --oficina-sts: #c71e67;
    --disciplina-sts: #186da9;
    --outro-sts: #9d4dcc;
    --card-sala-bg: #d7d9ed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f8fdff;
    --text-color: #000000;
    --bg-mapa: #d8dbe2;
    --bg-card-mapa: #f0f0f0;
    --primary-btn: #e5621c;
    --generic-card-bg: #eaecfd;
    --border-color: #d1d5db;
    --oficina-sts: #c71e67;
    --disciplina-sts: #186da9;
    --outro-sts: #9d4dcc;
    --card-sala-bg: #d7d9ed;
  }
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

span {
  color: red;
}

/* Global style: Guide style do design system */
.btn-secondary {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  background-color: transparent;
  color: var(--primary-btn);
  border: 2px solid var(--primary-btn);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  background-color: var(--primary-btn);
  color: white;
}

.btn-primary {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary-btn);
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #6e3110;
  transition: background-color 0.2s ease-in-out;
}

.btn-primary:focus {
  outline: 3px solid #005fcc;
  outline-offset: 2px;
}

.status-navigate {
  color: var(--status-navigate);
  font-weight: bold;
}
