@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

.banner-image {
  display: flex;
  justify-content: center;
  width: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  filter: brightness(1.5);
  opacity: 0.6;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.banner-text-container {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.icon-placeholder {
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: rotateIcon 2s linear infinite;
}

.banner-title {
  font-family: "Bricolage Grotesque";
  font-size: 7rem;
  color: #fafafa;
  margin-top: 1rem;
}

.banner-subtitle {
  font-size: 1.5rem;
  color: #84e1e9;
  margin-top: -1.5rem;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  .banner-image {
    height: 100vh;
  }

  .banner-text-container {
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
  }

  .icon-placeholder {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .banner-text-container {
    left: 40%;
    text-align: left;
  }
}
