.tag-status {
  display: inline-block;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.tag-status.Manutenção {
  background-color: #D70F49;
  color: white;
}

.tag-status.Livre {
  background-color: #0A9A8C;
  color: white;
}

.tag-status.Reservada {
  background-color: #0E7AC9;
  color: white;
}

.tag-status.Indisponível {
  color: #D70F49;
}

.tag-status.Funcional {
  color: #078B7E;
}