.tag-status {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.tag-status.Manutenção {
  background-color: #D70F49;
  color: white;
}

.tag-status.Livre {
  background-color: #0A9A8C;
  color: white;
}

.tag-status.Reservada {
  background-color: #0E7AC9;
  color: white;
}

.tag-status.Indisponível {
  background-color: #dbdbdb;
}