.tag-status {
  display: inline-block;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.tag-status.Manutenção {
  color: #d70f49;
}

.tag-status.Livre {
  color: #078b7e;
}

.tag-status.Reservada {
  background-color: #0e7ac9;
  color: white;
}

.tag-status.Indisponível {
  color: #d70f49;
}

.tag-status.Funcional {
  color: #078b7e;
}
