.admin-main-page {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.admin-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}

.user-account-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.admin-header h1 {
  font-size: 2rem;
  color: var(--text-color);
}

.admin-functions {
  display: flex;
  gap: 1rem;
}

@media (min-width: 769px) and (max-width: 1280px) {
  .admin-main-page {
    flex-direction: column;
    padding: 2rem 4rem;
  }

  .admin-header {
    flex-direction: column;
    justify-content: space-between;
  }

  .admin-functions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .admin-header {
    width: 100%;
    padding: 1rem;
  }

  .admin-header h1 {
    font-size: 1.5rem;
  }

  .admin-main-page{
    flex-direction: column;
    padding: 1rem;
  }

  .admin-functions {
    flex-direction: column;
    gap: 0.5rem;
  }
}
